<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.works2">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_works"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_works"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gasfiteria_cat"></activity>
        <activity android:name=".electronica_cat" />
        <activity android:name=".electricidad_cat" />
        <activity android:name=".contruccion_cat" />
        <activity android:name=".Post" />
        <activity android:name=".iniciarsesion" />
        <activity android:name=".MainActivity" />
        <activity android:name=".primeros_datos" />
        <activity android:name=".create_account" />
        <activity android:name=".primerapantalla">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>